# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/*
package-lock.json

# Build output directories
build/
dist/

# Public folder build artifacts
public/favicon.ico
public/logo192.png
public/logo512.png

# Static files that may be generated during builds
public/manifest.json
public/robots.txt

# Temporary or cache files
.cache/
.tmp/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm
projects/angular-editor-fabric-js/package-lock.json
projects/angular-editor-fabric-js/node_modules/*

.early.coverage