.main-title {
  margin-top: 10px;
}
.images-item {
  width: 48%;
  cursor: pointer;
  /* -webkit-transition: 0.5s ease; */
  /* -webkit-transition: 0.5s ease; */
  padding: 3px;
  max-width: 120px;
}

.images-item:hover {
  opacity: 0.7;
}

.images-item-upload {
  width: 80%;
  cursor: pointer;
  padding-bottom: 10px;
  /* -webkit-transition: 0.5s ease; */
  /* -webkit-transition: 0.5s ease; */
}

.images-item-upload:hover {
  opacity: 0.7;
}

.custom-item {
  border-bottom: 2px solid #f3f3f3;
}

.custom-item .custom-item-title {
  color: #666666;
  font-weight: 600;
}

.custom-item .custom-item-body {
  padding: 10px 0;
}

.max-height {
  overflow-y: auto;
  max-height: 400px;
}
.template-name{
  font-size: 12px !important;
}

@font-face {
  font-family: 'Lindy-Bold';
  src: url('assets/fonts/Lindy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PremiumUltra';
  src: url('assets/fonts/PremiumUltra26.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ctorres';
  src: url('assets/fonts/Ctorres.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('assets/fonts/ArialRoundedMTBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.custom-dropdown-btn {
  background-color: #fdc323;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
}

/* When the dropdown is open */
.custom-dropdown-btn[aria-expanded="true"] {
  background-color: #fab802;
  transform: scale(0.9);
}

/* Icon display rules */
.custom-dropdown-btn .arrow-down {
  display: block;
}
.custom-dropdown-btn .arrow-up {
  display: none;
}

.custom-dropdown-btn[aria-expanded="true"] .arrow-down {
  display: none;
}
.custom-dropdown-btn[aria-expanded="true"] .arrow-up {
  display: block;
}

